@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application</h2>
        <ul>
            <li><a asp-area="" asp-controller="Departaments" asp-action="Index">Departmant</a></li>
            <li><a asp-area="" asp-controller="Sellers" asp-action="Index">Seller</a></li>
            <li><a asp-area="" asp-controller="SalesRecords" asp-action="Records">Sales</a></li>
            <li><a asp-area="" asp-controller="SalesRecords" asp-action="Index">Sales Report</a></li>
        </ul>
    </div>
</div>
