@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application</h2>
        <ul>
            <li>
                <div>
                    <a>Departmant</a>
                    @*<a asp-action="Records">Departmant</a>*@
                </div>
            </li>
            <li>
                <div>
                    <a>Seller</a>
                </div>
            </li>
            <li>
                <div>
                    <a>Sales</a>
                </div>
            </li>
            <li>
                <div>
                    <a>Sales Report</a>
                </div>
            </li>
        </ul>
    </div>
</div>
